@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity:1}
}
.animScale{
    transition: transform .5s;
    
}
.animScale_2{
    transition:  transform .5;
}
.animScale:hover {
    transform: scale(1.1);
    background-color: rgb(33, 38, 53);
    color: burlywood;
}
.animScale_2:hover {color: rgb(150, 138, 123);}
