@keyframes pulse {
    0% {-webkit-transform:scale(1)}
    50%{-webkit-transform:scale(1.2)}
    100% {-webkit-transform:scale(1)}
  }

.pulser:hover{
    animation-name:pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.animScale{
    transition: transform .5s;
}
.animScale:hover {
    transform: scale(1.01);
    background-color: rgb(33, 38, 53);
    transition: .3s;
    box-shadow:0 0px 14px 0 rgba(214, 207, 207, 0.2);
    color: burlywood;
    
}
.animScale_2:hover{
    transition:  transform .5;
    transform: scale(1.25);
    color: rgb(150, 138, 123);
}

