@keyframes pulse {
    0% {-webkit-transform:scale(1)}
    50%{-webkit-transform:scale(1.2)}
    100% {-webkit-transform:scale(1)}
  }

.navBarBtn:hover {
    animation-name:pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}